.ui.inverted.vertical.segment {
  background-color: #000000;
  color: #000000;
}

.ui.inverted.header {
  color: #eeeaea;
}

.ui.inverted.link.list .item,
.ui.inverted.link.list .item a:not(.ui),
.ui.inverted.link.list a.item {
  color: rgb(238, 231, 231);
}

.ui.inverted.header {
  color: #d6cfcf;
}
